* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........nav1..........<<<<<<<<<<<<<<<<<<<<<< */

/* .nav1 {
    width: 100%;
    height: 10vh;
    background-color: #e21b70;
    display: flex;
    align-items: center;
    padding: 0px 400px;
    gap: 25px;
}

.image1 {
    width: 11%;
    height: 1vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
} */

/* head-nav1 {
    font-size: 20px;
    color: #fcfcfc;
    font-weight: var(--bdsTypographyTitleMediumFontWeight);
}

.nav1btn {
    width: 9vw;
    height: 44px;
    background-color: transparent;
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
    color: #ffffff;
    border-width: 1px;
} */

/* >>>>>>>>>>>>>>>>>>>>>>...........nav2..........<<<<<<<<<<<<<<<<<<<<<< */

.nav2 {
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 50px;
  box-shadow: 5px 5px 10px rgb(229, 226, 226);
  position: fixed;
  z-index: 5;
}

.navleft {
  width: 12%;
  height: 100%;
  margin-top: 3%;
}

.navleft:hover {
  cursor: pointer;
}

.navright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.navright-logo {
  display: flex;
}

.navbtn {
  width: 78px;
  height: 5.5vh;
  border-radius: 8px;
  font-weight: 600;
  background-color: orangered;
}

.nav2btn1 {
  background-color: red;
  background-color: transparent;
  border-width: 1px;
  color: #39434d;
}

.nav2btn2 {
  background-color: #e21b70;
  border: none;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
}

.nav2btn1:hover {
  cursor: pointer;
  height: 6vh;
  width: 80px;
  background-color: rgb(227, 236, 240);
}

.nav2btn2:hover {
  cursor: pointer;
  height: 6vh;
  width: 80px;
  background-color: #c21760;
}

.navright-logo {
  /* background: purple; */
  display: inline;
}
.icon {
  display: flex;
}
.right-icon {
  display: flex;
  margin: 0px 50px 0px 0px;
}
.left-icon {
  display: flex;
  margin: 0px 0px 0px 0px;
}

.chevron-icon {
  /* background-color: aqua; */
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 0px;
}

.globe-icon {
  /* background-color: red; */
  width: 30px;
  height: 20px;
  padding: 0px 3px 0px 0px;
}

.icon-head {
  font-size: 15px;
  padding: 0px 5px 0px 0px;
}

.left-icon:hover {
  background-color: rgb(180, 180, 180);
  cursor: pointer;
}

.bag-icon {
  width: 30px;
  height: 20px;
  /* background-color: yellow; */
  padding: 0px 20px 0px 10px;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........banner..........<<<<<<<<<<<<<<<<<<<<<< */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 58%;
  height: 100vh;
  /* background-color: purple; */
  background: rgb(245, 240, 240);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.head-banner {
  /* background-color: aqua; */
  color: #333333;
  font-size: 40px;
  margin: 0px 0px 0px 60px;
}

.input1 {
  /* background-color: red; */
  background-color: #ffffff;
  margin: 30px 0px 0px 60px;
  width: 50vw;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  height: 75px;
  border-radius: 15px;
  padding: 15px;
}

.input-placeholder {
  /* background-color: aqua; */
  width: 41vw;
  height: 50px;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #dcdcdc;
}

.input-btn {
  background-color: yellow;
}

.right {
  /* background-color: orangered; */
  width: 41.5%;
  /* min-width: 960px */
  height: 100vh;
  background: rgb(245, 240, 240);
  /* translate: 30px 0px;
    object-fit: cover; */
}

.right-img {
  width: 94%;
  height: 90%;
  translate: 34px 62px;
  object-fit: cover;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........sec1..........<<<<<<<<<<<<<<<<<<<<<< */
.sec1-top {
  background-color: rgb(255, 255, 255);
  /* background-color: red; */
  width: 100%;
}

.head-sec1 {
  margin: 83px 0px 30px 60px;
}

.sec1-bottom {
  width: 100%;
  overflow: hidden;
  height: 62.5vh;
  margin: 0px 0px 0px 0px;
}

.sec1-bottom-img {
  width: 100%;
  height: 100%;
  /* margin-left: 10px; */
  background-color: aqua;
  /* overflow: hidden; */
  translate: 0px 0px;
  object-fit: cover;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........sec2..........<<<<<<<<<<<<<<<<<<<<<< */
.sec2 {
  background-color: #ffffff;
  /* background-color: rgb(255, 255, 255); */
  min-width: 50px;
  max-width: 600px;
  height: 54vh;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(170, 168, 168);
  padding: 10px 10px 50px 10px;
  margin: -130px 0px 0px 60px;
  position: absolute;
  z-index: 2;

  /* letter-spacing: 20px; */
  /* line-height: 5vh; */
}

.sec2-text {
  /* background-color: green; */
  margin: 25px;
}

.sec2-head {
  padding-bottom: 30px;
  /* background-color: orangered; */
  font-size: 25px;
}

/* .sec2-para { */
/* background-color: red; */
/* } */

.sec2-btn {
  margin: 25px;
}

.pinkbtn {
  width: 7.5vw;
  height: 7.5vh;
  /* background-color: blueviolet; */
  border-radius: 10px;
  border: none;
  background-color: #e21b70;
  color: #ffffff;
  /* color: blueviolet; */
}

.pinkbtn:hover {
  cursor: pointer;
  width: 8vw;
  height: 8vh;
  background-color: #c21760;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........card..........<<<<<<<<<<<<<<<<<<<<<< */
.card-wrapper {
  margin: 290px 0px 0px 0px;
}
.card-head {
  /* background: palevioletred; */
  margin: 50px;
  font-size: 15px;
  font-family: sans-serif;
  color: #333333;
  /* color: blueviolet; */
}

.card-container {
  /* background-color: purple; */
  display: flex;
  flex-wrap: wrap;
  margin: 0px 60px 0px 60px;
  gap: 25px;
}

.card {
  /* max-width:21vw ;  */
  /* min-width:3vw ; */
  /* max-height: 39vh; */
  /* min-height:7 ; */
  width: 21vw;
  margin-bottom: 25px;
  height: 39vh;
  background-color: #f7f7f7;
  overflow: hidden;
  /* translate: 0px -0px; */
  /* object-fit: cover; */
  border-radius: 8%;
  position: relative;
}
.card-heading h1 {
  font-weight: 500;
}
.card-heading {
  padding: 0px 0px 0px 17px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 8px;
  bottom: 8px;
  border-radius: 8px;
  font-size: 10px;
  border: 1px solid white;
  color: #000000;
}

.card-img {
  width: 21vw;
  height: 39vh;
  border-radius: 8%;
  background-color: aqua;
  transition: 0.5s all ease-in-out;
}

.card-img:hover {
  width: 22vw;
  height: 40vh;
  cursor: pointer;
  /* overflow: hidden; */
}

/* >>>>>>>>>>>>>>>>>>>>>>...........sec3..........<<<<<<<<<<<<<<<<<<<<<< */
.sec3-head {
  margin: 70px 0px 30px 60px;
  color: #333333;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........sec3-container..........<<<<<<<<<<<<<<<<<<<<<< */

.sec3-container {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.sec3-container-left {
  background-color: #e21b70;
  height: 50vh;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
  padding: 50px 10px 50px 30px;
  color: #ffffff;
  margin: 0px 0px 0px 60px;
}

.sec3-container-head {
  /* background-color: brown; */
  font-size: 23px;
}

.sec3-container-para {
  /* background-color: gold; */
  padding: 30px 0px 0px 70px;
  line-height: 150%;
  font-size: 17px;
}

.sec3-container-right {
  background-color: #e21b70;
  width: 50%;
  height: 50vh;
  border-radius: 0px 20px 20px 0px;
  margin: 0px 60px 0px 0px;
}

.sec3-container-right-img {
  width: 100%;
  height: 75vh;
  translate: 0px -100px;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........sec4..........<<<<<<<<<<<<<<<<<<<<<< */
/* .sec4 {  */
/* background-color: orangered; */
/* }  */

.sec4-head {
  /* background: blue; */
  margin: 30px 60px 30px 60px;
}

.sec4-img {
  background: purple;
  width: 100%;
  height: 63vh;
}

.sec4-image {
  width: 100%;
  height: 100%;
  translate: 0px 0px;
  object-fit: cover;
}

.sec4-container {
  /* background-color: #12e281; */
  background-color: #ffffff;
  width: 44vw;
  height: 35vh;
  margin: 0px 0px 0px 60px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(170, 168, 168);
  padding: 20px;
  position: absolute;
  z-index: 3;
  margin: -100px 0px 0px 60px;
}

/* .sec4-container-text {
  background-color: yellow;
}
.sec4-container-head {
  background-color: aqua;
} */
.sec4-container-para {
  /* background-color: blue; */
  padding: 20px 0px 0px 0px;
}

.sec4-container-btn {
  /* background-color: #39434d; */
  padding: 35px 0px 0px 0px;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........sec5..........<<<<<<<<<<<<<<<<<<<<<< */

.sec5-text {
  color: #333333;
  margin: 250px 60px 5px 70px;
  font-size: 16px;
}

/* >>>>>>>>>>>>>>>>>>>>>>...........footer..........<<<<<<<<<<<<<<<<<<<<<< */
footer {
  margin: 20px 60px 100px 60px;
}
